In [24]:
import pandas as pd
import datetime as dt
import os
import glob

# 공항 목록 생성

## 국내항공사 운항 공항

In [147]:
file_dir = r'C:/Users/shine/Desktop/BigData/Class/project/SecondPjt/data/overseas inflow'
save_file = r'C:/Users/shine/Desktop/BigData/Class/project/SecondPjt/data/overseas inflow/airport_list(domestic).csv'
all_file = glob.glob(os.path.join(file_dir, '인천(국내)_20*'))

airport_data = []
for file in all_file:
    airport = pd.read_excel(file)
    airport = airport.drop([0,1,2], axis=0)
    airport = airport.drop(airport.columns[0], axis = 1)
    airport = airport.rename({'Unnamed: 1':'Airport',
                              'Unnamed: 2':'A/P',
                              'Unnamed: 3':'PAX'}, axis = 1)
    airport_data.append(airport)

dataCombine = pd.concat(airport_data, axis = 0, ignore_index = True)
dataCombine = dataCombine.drop(dataCombine.columns[[3,4]], axis=1)
dataCombine.to_csv(save_file, encoding = 'utf-8-sig')

airport_list = dataCombine
airport_list = airport_list.groupby(['Airport']).count()
airport_list = airport_list.drop(['A/P','PAX'], axis=1)
airport_list.drop(['(RPVM)','KAPG (KAPG)','KAVQ (KAVQ)','사천 (RKPS)','인천 (RKSI)',
                   '김포 (RKSS)','김해 (RKPK)','제주 (RKPC)','청주 (RKTU)','인천* (RKZZ)',
                   '대구 (RKTN)','광주 (RKJJ)','울산 (RKPU)'], inplace = True)

airport_list.to_csv('C:/Users/shine/Desktop/BigData/Class/project/SecondPjt/data/overseas inflow/domestic_airport.csv', encoding = 'utf-8-sig')
airport_list

Empty DataFrame
Columns: []
Index: [간사이 (RJBB), 과달라하라 (MMGL), 괌 (PGUM), 광저우 (ZGGG), 기타규슈 (RJFR), 깜라인(냐짱) (VVCR), 나고야 (RJGG), 나리타 (RJAA), 남경 (ZSNJ), 노이바이(하노이) (VVNB), 뉴욕 (KJFK), 다낭 (VVDN), 다카 (VGHS), 대련 (ZYTL), 댈러스 (KDFW), 델리 (VIDP), 떤선녀엇(호찌민) (VVTS), 런던/스텐스 (EGSS), 런던히드로 (EGLL), 로스앤젤레스 (KLAX), 마닐라 (RPLL), 마드리드 (LEMD), 마라나 (KMZJ), 마카오 (VMMC), 뭄바이 (VABB), 밀라노 (LIMC), 방갈로르 (VOBL), 밴쿠버 (CYVR), 번돈 (VVVD), 베이루트 (OLBA), 베이징 (ZBAA), 보스턴 (KBOS), 브뤼셀 (EBBR), 비라코프스 (SBKP), 비쉬케크 (UCFM), 비엔나 (LOWW), 비엔티안 (VLVT), 사이판 (PGSN), 사할린 (UHSS), 샌프란시스코 (KSFO), 샤먼 (ZSAM), 선전(심천) (ZGSZ), 셰레메티예보(모스크바) (UUEE), 수안나폼(방콕) (VTBS), 스톡홀름 (ESSA), 시드니 (YSSY), 시안 (ZLXY), 시애틀 (KSEA), 시카고 (KORD), 심양 (ZYTX), 싱가포르 (WSSS), 알마티 (UAAA), 암스테르담 (EHAM), 애틀랜타 (KATL), 양곤 (VYYY), 연대 (ZSYT), 오스트라바 (LKMT), 오슬로 (ENGM), 오클랜드 (NZAA), 우한 (ZHHH), 울란바토르 (ZMUB), 워싱톤 (KIAD), 위해 (ZSWH), 이스탄불 (LTFM), 자카르타(수카르노 하타) 국제 공항 (WIII), 장춘 (ZYCC), 정저우 (ZHCC), 창사(장사) (ZGHA), 천진 (ZBTJ), 청도 (ZSQD), 청두(성도) (ZUUU), 첸나이 (VOMM), 충칭 (ZUCK), 취리히 (LSZH), 카트만두 (VNKT), 콜럼버스 (KLCK), 콜롬보 (VCBI), 쿠알라룸푸르 (WMKK), 클라크 국제공항 (RPLC), 타슈켄트 (UTTT), 타이완 타오위안 국제 공항 (RCTP), 토론토 (CYYZ), 파리 (LFPG), 페낭 (WMKP), 페트로파블롭스크-캄챠츠키 (UHPP), 푸동 (ZSPD), 프놈펜 (VDPP), 프라하 (LKPR), 프랑크푸르트 (EDDF), 피닉스 굳이어 공항 (KGYR), 핼리팩스 (CYHZ), 홍콩 (VHHH)]

[92 rows x 0 columns]

## 외국항공사 운항 공항

In [148]:
# csv파일들이 있는 위치
file_dir = r'C:/Users/shine/Desktop/BigData/Class/project/SecondPjt/data/overseas inflow'
# 병합하고 저장하려는 파일명
save_file = r'C:/Users/shine/Desktop/BigData/Class/project/SecondPjt/data/overseas inflow/airport_list(overseas).csv'
# 해당 이름을 가진 파일들 모으기(glob()함수)
all_file = glob.glob(os.path.join(file_dir, '인천(외국)_20*'))

# 읽어 들인 csv파일 내용을 저장할 리스트
airport_data = []
# 반복문으로 csv 파일 읽어오기 및 내용 리스트에 추가
for file in all_file:
    airport = pd.read_csv(file, engine = 'python')
    airport = airport.drop([0], axis=0)
    airport.columns = ['Airport','A/P','PAX']
    airport_data.append(airport)
# 리스트 내용 병합(아래로 병합, 인덱스 무시), csv파일로 저장
dataCombine = pd.concat(airport_data, axis = 0, ignore_index = True)
dataCombine.to_csv(save_file, encoding = 'utf-8-sig')

airport_list = dataCombine
# 같은 공항끼리 묶기
airport_list = airport_list.groupby(['Airport']).count()
# 불필요한 열, 행 삭제
airport_list = airport_list.drop(['A/P','PAX'], axis=1)
airport_list.drop(['(WIPP)','FJDG (FJDG)','VIPK (VIPK)','ZSNT (ZSNT)'], inplace = True)
# 저장
airport_list.to_csv('C:/Users/shine/Desktop/BigData/Class/project/SecondPjt/data/overseas inflow/overseas_airport.csv', encoding = 'utf-8-sig')
airport_list

Empty DataFrame
Columns: []
Index: [간사이 (RJBB), 괌 (PGUM), 광저우 (ZGGG), 그랜트카운티 (KMWH), 깜라인(냐짱) (VVCR), 껀터 국제공항 (VVCT), 나리타 (RJAA), 난창 (ZSCN), 남경 (ZSNJ), 노이바이(하노이) (VVNB), 뉴어크 (KEWR), 뉴욕 (KJFK), 닝보 (ZSNB), 다낭 (VVDN), 담만 (OEDF), 대련 (ZYTL), 댈러스 (KDFW), 더블린 (EIDW), 덴파사(응우라 라이) (WADD), 델리 (VIDP), 도모데도보(모스크바) (UUDD), 도하 (OTHH), 두바이 (OMDB), 두샨베 (UTDD), 디트로이트 (KDTW), 떤선녀엇(호찌민) (VVTS), 라이프치히 (EDDP), 란저우 (ZLLL), 람스테인 (ETAR), 런던히드로 (EGLL), 로스앤젤레스 (KLAX), 로얄 에어포스 페어포드 공항 (EVGA), 루이즈빌 (KSDF), 룩셈부르크 핀델 공항 (ELLX), 리야드 (OERK), 리에주 (EBLG), 마닐라 (RPLL), 마이애미 (KMIA), 마카오 (VMMC), 멕시코시티 (MMMX), 멤피스 (KMEM), 뮌헨 (EDDM), 밀라노 (LIMC), 바그람 (OAIX), 바레인 (OBBI), 바르샤바 (EPWA), 밴쿠버 (CYVR), 번돈 (VVVD), 베이징 (ZBAA), 부다페스트 (LHBP), 브뤼셀 (EBBR), 블라디보스톡 (UHWW), 비엔티안 (VLVT), 사할린 (UHSS), 샌프란시스코 (KSFO), 샤먼 (ZSAM), 샤지 (OMSJ), 샨토우 (ZGOW), 석가장 (ZBSJ), 선전(심천) (ZGSZ), 셰레메티예보(모스크바) (UUEE), 수난 슈오팡 국제공항 (ZSWX), 수안나폼(방콕) (VTBS), 스톡홀름 (ESSA), 시드니 (YSSY), 시안 (ZLXY), 시애틀 (KSEA), 시카고 (KORD), 시하누크빌 (VDSV), 신시내티 (KCVG), 심양 (ZYTX), 싱가포르 (WSSS), 아디스아바바 (HAAB), 아부다비 (OMAA), 아타튀르크 (LTBA), 알마티 (UAAA), 알막툼 (OMDW), 암스테르담 (EHAM), 애틀랜타 (KATL), 앤더슨비행장 (PGUA), 앵커리지 (PANC), 양곤 (VYYY), 연길 (ZYYJ), 연대 (ZSYT), 옌청 (ZSYN), 오산 (RKSO), 오스코다 (KOSC), 오슬로 (ENGM), 오클랜드 (KOAK), 오클랜드 (NZAA), 온타리오 (KONT), 외레브로 (ESOE), 요코다 (RJTY), 우한 (ZHHH), 울란바토르 (ZMUB), 워싱톤 (KIAD), 위해 (ZSWH), 이스탄불 (LTFM), 인디애나폴리스 (KIND), 자카르타(수카르노 하타) 국제 공항 (WIII), ...]

[142 rows x 0 columns]

## 국내, 해외 항공사 운항 공항 종합

In [149]:
list_D = pd.read_csv('C:/Users/shine/Desktop/BigData/Class/project/SecondPjt/data/overseas inflow/domestic_airport.csv')
list_O = pd.read_csv('C:/Users/shine/Desktop/BigData/Class/project/SecondPjt/data/overseas inflow/overseas_airport.csv')
airport_list = pd.concat([list_D, list_O], axis = 0)
airport_list = airport_list.groupby(['Airport']).count()
airport_list.to_csv('C:/Users/shine/Desktop/BigData/Class/project/SecondPjt/data/overseas inflow/Airport_List.csv', encoding = 'utf-8-sig')
airport_list

Empty DataFrame
Columns: []
Index: [간사이 (RJBB), 과달라하라 (MMGL), 괌 (PGUM), 광저우 (ZGGG), 그랜트카운티 (KMWH), 기타규슈 (RJFR), 깜라인(냐짱) (VVCR), 껀터 국제공항 (VVCT), 나고야 (RJGG), 나리타 (RJAA), 난창 (ZSCN), 남경 (ZSNJ), 노이바이(하노이) (VVNB), 뉴어크 (KEWR), 뉴욕 (KJFK), 닝보 (ZSNB), 다낭 (VVDN), 다카 (VGHS), 담만 (OEDF), 대련 (ZYTL), 댈러스 (KDFW), 더블린 (EIDW), 덴파사(응우라 라이) (WADD), 델리 (VIDP), 도모데도보(모스크바) (UUDD), 도하 (OTHH), 두바이 (OMDB), 두샨베 (UTDD), 디트로이트 (KDTW), 떤선녀엇(호찌민) (VVTS), 라이프치히 (EDDP), 란저우 (ZLLL), 람스테인 (ETAR), 런던/스텐스 (EGSS), 런던히드로 (EGLL), 로스앤젤레스 (KLAX), 로얄 에어포스 페어포드 공항 (EVGA), 루이즈빌 (KSDF), 룩셈부르크 핀델 공항 (ELLX), 리야드 (OERK), 리에주 (EBLG), 마닐라 (RPLL), 마드리드 (LEMD), 마라나 (KMZJ), 마이애미 (KMIA), 마카오 (VMMC), 멕시코시티 (MMMX), 멤피스 (KMEM), 뭄바이 (VABB), 뮌헨 (EDDM), 밀라노 (LIMC), 바그람 (OAIX), 바레인 (OBBI), 바르샤바 (EPWA), 방갈로르 (VOBL), 밴쿠버 (CYVR), 번돈 (VVVD), 베이루트 (OLBA), 베이징 (ZBAA), 보스턴 (KBOS), 부다페스트 (LHBP), 브뤼셀 (EBBR), 블라디보스톡 (UHWW), 비라코프스 (SBKP), 비쉬케크 (UCFM), 비엔나 (LOWW), 비엔티안 (VLVT), 사이판 (PGSN), 사할린 (UHSS), 샌프란시스코 (KSFO), 샤먼 (ZSAM), 샤지 (OMSJ), 샨토우 (ZGOW), 석가장 (ZBSJ), 선전(심천) (ZGSZ), 셰레메티예보(모스크바) (UUEE), 수난 슈오팡 국제공항 (ZSWX), 수안나폼(방콕) (VTBS), 스톡홀름 (ESSA), 시드니 (YSSY), 시안 (ZLXY), 시애틀 (KSEA), 시카고 (KORD), 시하누크빌 (VDSV), 신시내티 (KCVG), 심양 (ZYTX), 싱가포르 (WSSS), 아디스아바바 (HAAB), 아부다비 (OMAA), 아타튀르크 (LTBA), 알마티 (UAAA), 알막툼 (OMDW), 암스테르담 (EHAM), 애틀랜타 (KATL), 앤더슨비행장 (PGUA), 앵커리지 (PANC), 양곤 (VYYY), 연길 (ZYYJ), 연대 (ZSYT), 옌청 (ZSYN), ...]

[168 rows x 0 columns]

# 일일 유입 항공, 승객 수 데이터 프레임 생성

## 국내항공사 유입 데이터

In [155]:
# csv파일들이 있는 위치
file_dir = r'C:/Users/shine/Desktop/BigData/Class/project/SecondPjt/data/overseas inflow'
# 병합하고 저장하려는 파일명
save_file = r'C:/Users/shine/Desktop/BigData/Class/project/SecondPjt/data/overseas inflow/domestic_airline.csv'
# 해당 이름을 가진 파일들 모으기(glob()함수)
inflow_DA = glob.glob(os.path.join(file_dir, '인천(국내)_*'))
# 읽어 들인 csv파일 내용을 저장할 리스트
DA_data = []
# 반복문으로 csv 파일 읽어오기 및 내용 리스트에 추가
for file in inflow_DA:
    domestic = pd.read_excel(file)
    domestic = domestic.drop([0,1,2], axis = 0)
    domestic = domestic.drop(domestic.columns[0], axis = 1)
    domestic = domestic.rename({'Unnamed: 1':'Airport','Unnamed: 2':'A/P','Unnamed: 3':'PAX'}, axis = 1)
    # 같은 공항 값끼리 sum
    domestic = domestic.groupby(['Airport']).sum()
    DA_data.append(domestic)

# 리스트 내용 병합(아래로 병합, 인덱스 무시), csv파일로 저장
dataCombine = pd.concat(DA_data, axis = 1, ignore_index = True)
# 결측값 채우기
dataCombine = dataCombine.fillna(0)
# 불필요한 행 제거
dataCombine.drop(['(RPVM)','KAPG (KAPG)','KAVQ (KAVQ)','사천 (RKPS)','인천 (RKSI)',
                  '김포 (RKSS)','김해 (RKPK)','제주 (RKPC)','청주 (RKTU)','인천* (RKZZ)',
                  '대구 (RKTN)','광주 (RKJJ)','울산 (RKPU)'], inplace = True)
# 저장저장~~
dataCombine.to_csv(save_file, encoding = 'utf-8-sig')
dataCombine

,0,1,2,3,4,5,6,7,8,9,...,134,135,136,137,138,139,140,141,142,143
간사이 (RJBB),2.0,0.0,3.0,94.0,3.0,84.0,3.0,47.0,2.0,60.0,...,2.0,43.0,1.0,0.0,2.0,70.0,5.0,12.0,1.0,0.0
과달라하라 (MMGL),0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
괌 (PGUM),1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,67.0,0.0,0.0
광저우 (ZGGG),2.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,2.0,0.0,1.0,0.0,2.0,0.0,2.0,283.0,3.0,0.0
기타규슈 (RJFR),1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
창사(장사) (ZGHA),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
첸나이 (VOMM),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,127.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
나고야 (RJGG),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
충칭 (ZUCK),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
콜럼버스 (KLCK),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## 외국항공사 유입 데이터

In [153]:
# csv파일들이 있는 위치
file_dir = r'C:/Users/shine/Desktop/BigData/Class/project/SecondPjt/data/overseas inflow'
# 병합하고 저장하려는 파일명
save_file = r'C:/Users/shine/Desktop/BigData/Class/project/SecondPjt/data/overseas inflow/overseas_airline.csv'
# 해당 이름을 가진 파일들 모으기(glob()함수)
inflow_OA = glob.glob(os.path.join(file_dir, '인천(외국)_*'))
# 읽어 들인 csv파일 내용을 저장할 리스트
OA_data = []
# 반복문으로 csv 파일 읽어오기 및 내용 리스트에 추가
for file in inflow_OA:
    overseas = pd.read_csv(file, engine = 'python')
    overseas = overseas.drop([0], axis=0)
    overseas.columns = ['Airport','A/P','PAX']
    overseas = overseas.astype({'A/P' : float, 'PAX' : float})
    overseas = overseas.groupby(['Airport']).sum()
    OA_data.append(overseas)
    
# 리스트 내용 병합(아래로 병합, 인덱스 무시), csv파일로 저장
dataCombine = pd.concat(OA_data, axis = 1, ignore_index = True)
dataCombine.drop(['(WIPP)','FJDG (FJDG)','VIPK (VIPK)','ZSNT (ZSNT)'], inplace = True)
# 결측값 채우기 및 정수형으로 데이터 타입 변경
dataCombine = dataCombine.fillna(0)
dataCombine = dataCombine.astype(int)
# 저장저장~~
dataCombine.to_csv(save_file, encoding = 'utf-8-sig')
dataCombine

,0,1,2,3,4,5,6,7,8,9,...,134,135,136,137,138,139,140,141,142,143
광저우 (ZGGG),1,0,1,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,115
나리타 (RJAA),1,0,2,4,1,0,1,0,1,0,...,2,0,1,0,2,0,3,0,1,0
노이바이(하노이) (VVNB),1,0,0,0,1,241,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
뉴욕 (KJFK),3,0,1,0,3,0,1,0,2,0,...,2,0,1,0,2,0,2,0,2,0
닝보 (ZSNB),0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
알막툼 (OMDW),0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
리에주 (EBLG),0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
카라간다 (UAKK),0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
하노버 (EDDV),0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
란저우 (ZLLL),0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

## 국내, 해외 항공사 유입 데이터 종합

In [168]:
inflow_D = pd.read_csv('C:/Users/shine/Desktop/BigData/Class/project/SecondPjt/data/overseas inflow/domestic_airline.csv')
inflow_O = pd.read_csv('C:/Users/shine/Desktop/BigData/Class/project/SecondPjt/data/overseas inflow/overseas_airline.csv')
airport_list = pd.concat([inflow_D, inflow_O], axis = 0)
airport_list = airport_list.rename({'Unnamed: 0':'Airport'}, axis = 1)
airport_list = airport_list.groupby(['Airport']).sum()
airport_list = airport_list.astype(int)
airport_list.to_csv('C:/Users/shine/Desktop/BigData/Class/project/SecondPjt/data/overseas inflow/Inflow_Cases.csv', encoding = 'utf-8-sig')
airport_list

,0,1,2,3,4,5,6,7,8,9,...,134,135,136,137,138,139,140,141,142,143
Airport,,,,,,,,,,,,,,,,,,,,,
간사이 (RJBB),2,0,4,94,3,84,4,47,2,60,...,2,43,1,0,2,70,5,12,2,0
과달라하라 (MMGL),0,0,1,0,1,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
괌 (PGUM),1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,2,67,0,0
광저우 (ZGGG),3,0,2,0,3,0,1,0,1,0,...,2,0,1,0,2,0,2,283,6,115
그랜트카운티 (KMWH),0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
허페이 (ZSOF),0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
헤이다르 알리예프 (UBBB),1,0,1,0,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,0
헬싱키 (EFHK),0,0,0,0,0,0,1,67,1,23,...,1,24,0,0,0,0,1,31,1,0
호놀룰루 (PHNL),0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
홍콩 (VHHH),8,80,8,0,10,123,9,0,9,77,...,15,88,5,0,10,27,13,50,8,0

# 일자 데이터 정리(구 버전)

domestic = pd.read_excel('C:/Users/shine/Desktop/BigData/Class/project/SecondPjt/data/overseas inflow/인천(국내)_200701.xlsx', encoding = 'cp949')
domestic = domestic.drop([0,1,2], axis=0)
del domestic['조회기간 : 20200701 ~ 20200701, 구분 : 국내항공사, 공항 : 인천']
domestic = domestic.rename({'Unnamed: 1':'Airport',
                            'Unnamed: 2':'A/P',
                            'Unnamed: 3':'PAX'}, axis = 1)
# sum을 위해 int
domestic = domestic.astype({'A/P' : int, 'PAX' : int})
# 같은 공항 값끼리 sum
domestic = domestic.groupby(['Airport']).sum()
domestic.to_csv('인천(국내)_200701.csv', encoding = 'utf-8-sig')     # 저장 시 한글 깨짐 방지 : encoding = 'utf-8-sig'
domestic.head(2)

overseas = pd.read_csv('C:/Users/shine/Desktop/BigData/Class/project/SecondPjt/data/overseas inflow/인천(외국)_200701.csv', encoding = 'cp949')
overseas = overseas.drop([0], axis=0)
overseas.columns = ['Airport','A/P','PAX']
overseas = overseas.astype({'A/P' : int, 'PAX' : int})
overseas = overseas.groupby(['Airport']).sum()
overseas.to_csv('인천(외국)_200701.csv', encoding = 'utf-8-sig')
overseas.head(2)